# Python & Environment
__pycache__/
*.py[cod]
*$py.class
*.env
.env
venv/
env/
.venv/

# Database (optional to ignore or keep)
database/quickhire.db-journal

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
